{% load static %}
<div class="tab-pane fade show active" id="lead_details-tab" role="tabpanel" aria-labelledby="pills-lead_details-tab">
    <div class="card-body">
        <center>
            <h2 class="card-title">

                <span class="text-muted ml-2"> {{lead.title}}

                </span>
            </h2>

            <h6 class="mt-1">
                <b>Current State:</b>
                <span class="text-muted ml-2">
                    <h4 class="text-muted d-inline">
                        <span class="badge badge-primary">{{lead.stage.stage_label}}</span>
                    </h4>
                </span>
            </h6>
        </center>

        <div>
            <hr>
        </div>


        <div class="row text-center">
            <div class="col-md-3 col-xs-6 b-r">
                <strong>Contact Person</strong>
                <br>
                <p class="text-muted">{{lead.contact_person}}</p>
            </div>
        </div>


    </div>
</div>