{% block custom_css %}
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>



<style>
    .progress_card {
        z-index: 0;
        background-color: #ECEFF1;
        border-radius: 10px
    }

    #progressbar {
        overflow: hidden;
        color: #455A64;
        padding-left: 0px;
    }

    #progressbar li {
        list-style-type: none;
        font-size: 13px;
        /* width: 14%; */
        min-width: 8%;
        max-width: 25%;
        float: left;
        position: relative;
        font-weight: 400
    }

    #progressbar .step0:before {
        cursor: pointer;
        font-family: FontAwesome;
        /* for circle icon*/
        content: "\f10c";
        color: #fff
    }

    #progressbar li:before {
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: block;
        font-size: 20px;
        background: #C5CAE9;
        border-radius: 50%;
        margin: auto;
        padding: 0px
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 12px;
        background: #C5CAE9;
        position: absolute;
        left: 0;
        top: 16px;
        z-index: -1
    }

    #progressbar li:last-child:after {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        left: -50%
    }

    /* #progressbar li:nth-child(2):after, */
    /* #progressbar li:nth-child(3):after, */
    /* #progressbar li:nth-child(4):after, */
    /* #progressbar li:nth-child(5):after, */
    #progressbar li:nth-child(n+2):after {
        left: -50%
    }

    #progressbar li:first-child:after {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: absolute;
        left: 50%
    }

    #progressbar li:last-child:after {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px
    }

    #progressbar li:first-child:after {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #651FFF
    }

    #progressbar li.active:before {
        font-family: FontAwesome;
        content: "\f00c"
            /* for check icon*/
    }
</style>
{% endblock custom_css %}

<div class='snippet-body'>
    <div class="container mx-auto">
        <div class="card progress_card">

            <div class="row d-flex justify-content-center align-contents-center">
                <div class="col-12">
                    <ul id="progressbar" class="text-center w-100">
                        {% for stage in sortedStages %}
                        <li class="step0" id="stage_{{stage.id}}">{{stage.stage_label}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var leadStatus = '{{lead.stage.id}}';
    var currLeadStatusId = `stage_${leadStatus}`;
    // console.log(`currLeadStatusId: `, currLeadStatusId);

    var orderStrList = '{{stageOrderIndexStr}}'.split(',');
    // console.log("orderStr: ", orderStrList);

    const leadStatusIds = orderStrList.map(elem => `stage_${elem}`);
    // console.log(`leadStatusIds: `, leadStatusIds);

    // Add dynamic width to every list element
    var liClasses = document.getElementsByClassName('step0');

    for (let i = 0; i < liClasses.length; i++) {
        // console.log(`element`, $(liClasses[i]));
        liClasses[i].style.width = `${100 / leadStatusIds.length}%`;
    };

    // Function to add active class list in all the li
    function updateLeadStatus(leadStatusIds, currStatus) {
        for (let i = 0; i < leadStatusIds.length; i++) {
            document.getElementById(leadStatusIds[i]).classList.add('active');
            // console.log(`element: `, leadStatusIds[i])
            if (leadStatusIds[i] == currStatus) {
                break;
            };
        };
    }

    updateLeadStatus(leadStatusIds, currLeadStatusId);



    var prev_lead_status = currLeadStatusId;

    $('.step0').on('click', function (e) {
        const updated_lead_status = this.id;

        // console.log(`updated_lead_status: `, updated_lead_status);

        // show spinner
        $('#cover-spin').show(0);

        const url = '/lead/profile/status/update/';
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                "leadId": '{{lead.id}}',
                "prevLeadStatus": prev_lead_status,
                "updatedLeadStatus": updated_lead_status,
            })
        }).then(response => {
            // console.log('response: ', response);
            if (response.status >= 200 && response.status < 300) {

                // console.log('json response: ', jsonRes)
                return response.json();
            } else {
                return json.then("Error: ", Promise.reject.bind(Promise));
            }
        }).then(data => {
            // console.log('data: ', data);
            for (let i = 0; i < leadStatusIds.length; i++) {
                document.getElementById(leadStatusIds[i]).classList.remove('active');
                // console.log(`element: `, leadStatusIds[i]);
            };
            // hide spinner
            updateLeadStatus(leadStatusIds, updated_lead_status);
            prev_lead_status = updated_lead_status;
            window.location.reload();
            // $('#cover-spin').hide(0);
        }).catch((error) => {
            console.log(error);
        });
    })

</script>